//Tailwind classes
@tailwind base;
@tailwind components;
@tailwind utilities;

//Base scss
@import './variable.scss';
@import './typography.scss';

//Animations
@import './Components/animations/animations.scss';

//Compontents (vue)
@import './Components/vue/vehicle/vehicle.scss';

//Components
@import './Components/navbar.scss';
@import './Components/footer.scss';

//ContentBlocks
@import './Components/vue/headerBlock/half/headerBlock.scss';
@import './Components/vue/headerBlock/full/headerBlock.scss';
@import './Components/vue/headerBlock/video/headerBlock.scss';
@import './Components/vue/vehicleBlock/vehicleBlock.scss';
@import './Components/vue/recentVehiclesBlock/recentVehiclesBlock.scss';
@import './Components/vue/textWithImage/textWIthImage.scss';
@import './Components/vue/vehicleBlock/topBar/topBar.scss';
@import './Components/vue/imagesSwiperBlock/imagesSwiperBlock.scss';
@import './Components/vue/textBlock/textBlock.scss';
@import './Components/vue/contactBlock/globalContactBlock.scss';
@import './Components/vue/contactBlock/large/contactBlock.scss';
@import './Components/vue/contactPopup/contactPopup.scss';
@import './Components/vue/vehicleCategoriesBlock/category/category.scss';
@import './Components/vue/vehicleBlock/searchBar/searchBar.scss';

@import './Components/vue/pages/vehiclePage.scss';

body {
    background-color: $color-primary;
}

.section {
    padding: 6rem 0;

    @media screen and (max-width: 768px) {
        padding: 3rem 0;
    }
}