// Colors
$color-text: #ffffff;
$color-primary: #181818;
$color-secondary: #eb2e2e;
$color-light-gray: #282828;
$color-white : #ffffff;

// Transitions
$transition-sm: 0.3s;
$transition-md: 0.4s;
$transition-lg: 0.6s;
$transition-xl: 0.9s;